<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SRCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E43F4001F08E19700BF94A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E43F4191F08E19700BF94A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E43F4241F08E19700BF94A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
